<h2>Add User Form</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="password">Name:</label>
			<input 
				type="text"
				class="form-control"
				formControlName = "name"
			>
			<p *ngIf="form.controls.name.invalid && form.controls.name.touched">
				Name is invalid (it can't be empty)
			</p>
		</div>

		<div class="form-group">
			<label for="email">Email:</label>
			<input 
				type="text"
				class="form-control"
				formControlName = "email"
			>
			<p *ngIf="form.controls.email.invalid && form.controls.email.touched">
				Email is invalid!
			</p>
		</div>
	<button 
			class="btn btn-success"
			type="submit"
			[disabled]="form.invalid"
			>
			Add User
	</button>
</form>
<hr>
<div *ngIf="isSubmited">
		<p>Data was successfully added to the users table.</p>
		<p>Data from user form:</p>
		<pre>
			{{ this.newUser | json }}
		</pre>
		<button (click)="isSubmited = false" class="btn btn-primary">Clear</button>
</div>