<hr>
<app-filter-users (filterNameChange)="onChange($event)"></app-filter-users>
<hr>
<h3>View {{countRows.value}} rows:</h3>
<select class="form-control" #countRows [(ngModel)]="setCount" (change)="setCountRows($event)">
	<option *ngFor=" let user of userLength; let i = index ">{{i+1}}</option>
</select>
<hr>
<p>You can sort table by colum name </p>{{setSortField}}
<table class="table">
	<thead>
	    <tr (click)="chooseSort($event)">
		      <th data-type="id">#</th>
		      <th data-type="username">Name</th>
		      <th data-type="email">Email</th>
		      <th data-type="created_at">Created at</th>
	    </tr>
	</thead>
	<tbody>
		<tr *ngFor=" let user of users | userSort: setSortField ">
			<td><a >{{user.id}}</a></td>
			<td><a [routerLink]="['/users', user.id]">{{user.username}}</a></td>
			<td><a >{{user.email}}</a></td>
			<td><a >{{user.created_at | date}}</a></td>
		</tr>
	</tbody>
</table>

